body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}


.task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.text-decoration {
  text-decoration: line-through;
}